{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        Google Maps
      </div>
      <div class="card-body">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6 col-md-12">
  <div class="card ">
    <div class="card-header">
      <h4 class="card-title"> Infrastructure</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                ID
              </th>

              <th class="text-left">
                GeoLocation
              </th>
              <th class="text-center">
                Type
              </th>
            </tr>
          </thead>
          <tbody>
          {% for row in infrastructure_table %}
            <tr>
              <td>
              {{  row.UUID}}
              </td>
              <td class="text-left">
                {{row.google_location}}
              </td>
              <td>
                {{  row.type}}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9en-5OWpW6wlUQ1B7nkjaKpiWDJD7aco&callback=initMap&libraries=&v=weekly"
     defer
   >
 </script>


<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
  var infArray = {{ infrastructure | safe }}

  demo.initGoogleMaps(infArray);
  });
</script>

{% endblock javascripts %}
