{% extends 'layouts/base.html' %}

{% block title %} Crew {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Personel</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Class
                </th>
                <th>
                  Hired
                </th>
                <th class="text-center">
                  Salary
                </th>
              </tr>
            </thead>
            <tbody>
              {% for row in table %}
              <tr>
                <td>
                  {{row.name}}
                </td>
                <td>
                  {{row.specialization}}
                </td>
                <td>
                  {{row.hired}}
                </td>
                <td class="text-center">
                  {{row.salary}} $
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> Crew</h4>
        <p class="category">  <a class="d-none d-sm-block d-md-block d-lg-block d-xl-block" href="/crew_add.html">Add new crew</a> </p>                <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
              </div>
              </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Working Hours
                </th>
                <th>
                  Number of Assignments
                </th>
                <th class="text-center">
                  Crew Member
                </th>
              </tr>
            </thead>
            <tbody>
            {% for crew in crewtable %}
              <tr>
                <td>
                  {{crew.name}}
                </td>
                <td>
                  {{crew.working_hours}}
                </td>
                <td>
                  {{ crew.total_assigments}}
                </td>
                <td class="text-center">
                  {{crew.crew_members}}
                </td>
                <td name="UUID" style="display:none;">
                  {{crew.UUID}}
                </td>
                <td class="text-right">
                  <button type="submit" rel="tooltip" title="Edit Crew" class="btn btn-link" data-original-title="Edit Crew"  >
                    <a href="/edit?crew={{ crew.UUID }}"> <i class="fa fa-trash"> </i></a>
                  </button>
                </td>
                <td class="td-actions text-right">
                    <button type="submit" rel="tooltip" name="Delete_crew" class="btn btn-link" data-original-title="Delete Crew"  >
                      <a href="/delete?crew={{ crew.UUID }}"> <i class="fa fa-trash"> </i></a>
                    </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

{% endblock javascripts %}
